.Proxima {
  font-family: Proxima Nova;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/proximanova_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/proximanova_bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
