# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
.pnpm-store/

# testing
playwright
playwright-report
test-results

# next.js
.next
out
build

# other
.storybook
.husky

# misc
.DS_Store
*.pem

.vscode
.github

.env
