@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-fade {
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 0%,
    black 8px,
    black calc(100% - 8px),
    transparent 100%
  );
  mask-image: linear-gradient(
    to top,
    transparent 0%,
    black 8px,
    black calc(100% - 8px),
    transparent 100%
  );
}

.error-shake {
  -webkit-animation: shake 0.16s 0s 3;
  animation: shake 0.16s 0s 3;
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  75% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* TODO: Implement in tailwind */
.controls::before {
  width: var(--highlight-width);
  transform: translateX(var(--highlight-x-pos));
}
