@tailwind base;
@tailwind components;
@tailwind utilities;

scroll-shadow {
  display: inline-block;
  --scroll-shadow-size: 18;
  --scroll-shadow-top: linear-gradient(to top, transparent 0%, white 18px);
  --scroll-shadow-bottom: linear-gradient(to bottom, transparent 0%, white 18px);
}